<div id="fb-root"></div>
<script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '430851193609762',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));
      </script>
<div class="center hero-unit">
<h1>Home</h1>
<h2>Access your cloud photos in one place!</h2>
<div class="fb-login-button">Login with Facebook</div>
</div>

<%= link_to image_tag("cloud.png", alt: "Photoud"), 'http://photoud.heroku.com' %>

